body{
    width: 100vw;
    height: 100vW;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://motionarray.imgix.net/preview-91902-XfM3b6wYK0-low_0009.jpg?w=660&q=60&fit=max&auto=format");
    overflow: hidden;
    


}

.card {

    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: 'Courier New', Courier, monospace;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
}
.card-image{

grid-area: image;
background: url("https://c.pshere.com/photos/1d/c3/agriculture_back_light_background_background_image_cloud_cloudy_cloudy_sky_countryside-1001573.jpg!d");
border-top-left-radius: 15px;
border-top-right-radius: 15px;
background-size: cover;
}
.card-text {
    grid-area: text;  
   margin:25px;
    
}
.card-stats {
    grid-area:stats;
}